[daemon]
uid = 0
pid = 0
pid-file = /var/run/avuna/dnsd.pid

[server main]
bind-mode	= udp # or unix
bind-ip		= 0.0.0.0 #unix sockets too!
bind-port	= 53
#OR
bind-file	= /etc/avuna/dnsd.sock
threads		= 1
max-conn	= 0
master-zone = /etc/avuna/dnsd/master

[server tcp]
bind-mode	= tcp # or unix
bind-ip		= 0.0.0.0 #unix sockets too!
bind-port	= 53
#OR
bind-file	= /etc/avuna/dnsd.sock
threads		= 1
max-conn	= 0
master-zone = /etc/avuna/dnsd/master

